include ../blocks/standart-button/standart-button.pug
include ../blocks/arrow-button/arrow-button.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Widgets
    body
        div
            +arrow-button()