include ../blocks/standart-button/standart-button.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Widgets
    body
        div
            +standart-button("button")